.app__container {
  margin: 0 auto;
  width: 80%;
}
.post__container {
  width: 665px;
  margin: 10vh auto;
}

.post__heading > h2 {
  font-size: 54px;
  line-height: 60px;
  color: #191919;
  font-weight: bolder;
}

.post__heading {
  border-bottom: 1px solid #d8d8d8;
  margin: 20px 0;
  padding-bottom: 10px;
}
.post__author {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
