.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 4vh;
}
.header__logo > img {
  max-width: 320px;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  flex-wrap: wrap;
}
.header__navigation ul li {
  display: inline;
  padding: 10px 0;
  padding-right: 15px;
}
.header__navigation ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.header__navigation .activeLink {
  color: white;
  padding: 5px 10px;
  background-color: black;
  border-radius: 6px;
}

.header__navigation > .search {
  align-items: center;
  display: flex;
}
